* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI',Verdana, sans-serif;

}
html {
    font-size: 62.5%; /* 100% =16px*/
}

/* body {
    margin: 0;
    padding: 0;
} */

img {
    max-width: 100%;
}

.nav-sup {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 1rem;
    background-color: #3A3A3A;
}    

.nav-sup > nav {
    padding: 0.5em 0em 0.5em 4em;
    justify-content: right;
    align-items: right;
}

.nav-sup > nav > a {
    font-size: 1.5em;
    padding: 0.4em 0.5em;
    width: 50em;
    text-decoration: none;
    color: white;
    /*display: none;*/ 
}

#foto-logo {
    width: 4em;
    height: 4em;
    padding-bottom: 0.2rem;
    border-radius: 0.2em;
}

#main-capa {
    height: 30rem;
    background-image: url("img/capa.jpg");
    background-position: center 10%;
    background-size: cover;
    background-repeat: no-repeat;

}

.bio {
    width: 100%;
    height: 45em;
    display: flex;
    justify-content: center;
    align-items: top;
    padding: 0 0rem;
    background-color: white;
}

.foto-rrss {
    /*display: flex;*/
    width: 50%;
    justify-content: center;
    align-items: center;
}

.fotogrande {
    display: flex;
    justify-content: flex-end;
    margin-top: -8em;
    margin-right: 8em;
}

.icones {
    margin-top: -4em;
    display: flex;
    justify-content: flex-end;
    margin-right: 8em;
    /*align-items: space-between;
    padding: 0 center;*/
}

/*.text-icones {
    margin: 0;
    display: flex;
   
}

.linkedin {
    margin: 0;
}
.github {
   
}
.stackoverflow {
    margin-left: 40em;
}
*/

.sobremi {
    width: 50%;
    height: 277.2em;
    opacity: 1;
    margin: 0;
    text-align: left;
    letter-spacing: 0px;
    color: #707070;

}

h1 {
    margin: 0;
    font-weight: bold;
    font-size: 5.5em;
    color: #707070;
}
h2 {
    margin-top: 0.1em;
    font-size: 3.4em;
    font-weight: 400;
    font-style: italic;
}
h3 {
    margin-top: 0.3em;
    font-size: 4.6em;
    font: bold;
}
.apresentacao {
    display: flex;
    margin: 0;
    font-size: 2.7em;
    font: normal;
    text-align: left;
    margin-right: 0.5em;
}
/*FORMAÇÃO*/

#formacao {
    height: 35.3em;
    justify-content: center;
    align-items: center;
    padding: 0.5em 5.5em 0.5em;
    background-color: #dedede;
    opacity: 1;   
}

.barra {
    margin: 0;
    width: 0.8em;
    height: 6.6em;
    margin-left: 25em;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 0.5em;
    opacity: 1;
    
}
.sec-form > p {
    margin: 0;
    padding: 0.1rem 1rem;
    color:#707070;
    justify-content: space-between;
   
}

#tituloformacao {
    color: #707070;
    padding: 0.5em 5.5em 0.5em; 
    font-size: 5.5em; 
}

#formacao1 {
    display: flex;
    padding: 0.5em 5.5em 3em;
}

.ano{
    margin: 0;
    font-size: 1.3em;
}

.diploma {
    margin: 0;
    margin-top: 0.3em;
    font-size: 2.1em;
    font-weight: 900;
       
}
.instituto {
    margin: 0;
    margin-top: 0.3em;
    font-size: 1.3em;
}

/*EXPERIENCIA*/

#experiencia {
    height: 35.3em;
    justify-content: center;
    align-items: center;
    padding: 0.5em 5.5em 0.5em;
    background-color: #434343;
    opacity: 1;   
}

.barra1 {
    margin: 0;
    width: 0.8em;
    height: 6.6em;
    margin-left: 25em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 0.5em;
    opacity: 1;
    
}
.sec-exp > p {
    margin: 0;
    padding: 0.1rem 1rem;
    color:#999999;
    justify-content: space-between;
   
}

#tituloexper {
    color: #707070;
    padding: 0.5em 5.5em 0.5em; 
    font-size: 5.5em; 
}

#exp1 {
    display: flex;
    padding: 0.5em 5.5em 3em;
}

.ano1{
    margin: 0;
    font-size: 1.3em;
}

.empresa1 {
    margin: 0;
    margin-top: 0.3em;
    font-size: 2.1em;
    font-weight: 900;
       
}
.cargo1 {
    margin: 0;
    margin-top: 0.3em;
    font-size: 1.3em;
}

/*PROJETOS*/
.projetos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3em 3em;
    /*width: 100%;
    height: 51.8em;*/
    background: #F2F2F2 0% 0% no-repeat padding-box;
    
}
#tituloproj {
    color: #707070;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    padding: 0.5em 5.5em 0.5em; 
    padding: 0.5em 6.5em 0.5em;
    font-size: 5.5em;
    
}

#projeto1 {
    margin: 0;
    padding: 0.5em 0.5em;
    align-content: center;
    width: 26em;
    height: 33.5em;
    background: #3333 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;  
}

.imgproj1 {
    margin: 0 auto;
    justify-content: center;
    margin-top: 1.2em;
    width: 23.2em;
    height: 12.9em;
    border: 0.1em solid #707070;
}

.titproj {
    margin: 0;
    padding: 0.5em 0em;
    width: 16.7em;
    font-weight: bold;
    font-size: 2.1em;
    color: #707070;
}

.descproj {
    margin: 0;
    padding: 0.2em 0em;
    width: 20em;
    height: 7em;
    font-size: 1.3em;
    color: #707070;
}

.botao {
    margin: 0;
    align-items:inherit;
    align-content: center;
    padding-bottom: 3em;
    display: inline-block;
    width: 11em;
    height: 3.4em;
    background: #585858 0% 0% no-repeat padding-box;
    border-radius: 5px;
    color: #FFFFFF;
    text-decoration: none;

}

.footer {
    height: 51.8em;
    padding: 3em 3em;
    background: #000000 0% 0% no-repeat padding-box;
  
}
#titulocontato {
    color: #FFFFFF;
    background: #000000 0% 0% no-repeat padding-box;
    padding: 0.5em 6.5em 0.5em;
    font-size: 5.5em;
    
}

/* ******


.textContact {
    display: block;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.textContact p {
    color: #707070;
    width: 100%;
    padding: 0.5em 6.5em 0.5em;
    font-size: 2.1em;
    text-align: left;
    line-height: 25px;
}

.form {
    display: flex;
}

.formulario {
    width: 50%;
    height: 13.3em;
    opacity: 1;
    margin: 0;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;

}

.redes-sociais {
    padding-top: 10px;
}

.ig, .fb {
    width: 25px;
    height: 25px;
}

.ig {
    margin-right: 5px;
} */














